<div>
    <div class="topnav">
        <a routerLink="/">NATIONAL LIBRARY</a>
        <a routerLink="/books" class="split">logout</a>
        <!-- <a routerLink="/" class="split">Add Books</a> -->
        <!-- <a routerLink="/books" class="split">Books</a> -->
      </div>
</div>

<div class="image-main" >
    <div class="container">
    <form #bookForm="ngForm" (ngSubmit)="bookForm.valid&&onAddBook()">
        <div class="row">
            <div class="col-25">
              <label>Book Code</label>
            </div>
            <div class="col-75">
              <input type="text" required #Bcode="ngModel" name="Bcode" placeholder="Book Code.." [(ngModel)]="book.Bcode">
              <small class="text-danger" *ngIf="bookForm.submitted&&Bcode.errors?.required">Book Code Required</small>
            </div>
          </div>
        <div class="row">
            <div class="col-25">
              <label for="fname">Book Name</label>
            </div>
            <div class="col-75">
              <input type="text" required #Bname="ngModel" name="Bname" placeholder="Book Name.." [(ngModel)]="book.Bname">
              <small class="text-danger" *ngIf="bookForm.submitted&&Bname.errors?.required">Book Name Required</small>
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <label>Book Author</label>
            </div>
            <div class="col-75">
              <input type="text" required #Bauthor="ngModel"  name="Bauthor" placeholder="book Author.." [(ngModel)]="book.Bauthor">
              <small class="text-danger" *ngIf="bookForm.submitted&&Bauthor.errors?.required">Book Author Required</small>
            </div>
          </div>
        <div class="row">
        <div class="col-25">
          <label>Book Genere </label>
        </div>
        <div class="col-75">
          <input type="text" id="fname" #Bgenere="ngModel" required name="Bgenere" placeholder="Book Genere.." [(ngModel)]="book.Bgenere">
          <small class="text-danger" *ngIf="bookForm.submitted&&Bgenere.errors?.required">Book genere Required</small>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label>Book Image</label>
        </div>
        <div class="col-75">
          <input type="text" required #Bimage="ngModel" name="Bimage" placeholder="Book Image.." [(ngModel)]="book.Bimage">
          <small class="text-danger" *ngIf="bookForm.submitted&&Bimage.errors?.required">Book Image Required</small>
        </div>
      </div><br>
      <div class="row">
        <button type="submit">Add Book</button>
      </div>
    </form>
  </div>
 <div><br><br>
 
 </div>
 <div class="footer bg-transparent">
  <p>Copyright © 2022 | jishnu | library </p>
</div>
</div>
