
    <div class="topnav">
        <a routerLink="/">NATIONAL LIBRARY</a>
        <a routerLink="/admin" class="split" *ngIf="!auth.loggedIn()">Admin?</a>
        <a routerLink="/addBook" class="split" *ngIf="auth.loggedIn()">Add Books</a>
        <a routerLink="/books" class="split" *ngIf="auth.loggedIn()" (click)="logOutUser()">LogOut</a>
      </div>

<div class="bg-image">
    <div>
        <h2 class="bk">BOOK</h2>
        </div>
    <section class="container">
        
<div class="card zoom" *ngFor="let item of bookArray">
    <div >
        <img  class="card-image" [src]="item.Bimage">
    </div>
    <h2>{{item.Bname}}</h2>
    <p>Code:{{item.Bcode}}</p>
    <p>Author:{{item.Bauthor}}</p>
    <p>Genere:{{item.Bgenere}}</p>
    <button type="submit" class="btn btn-warning" *ngIf="auth.loggedIn()" (click)="navigateToEdit(item._id)">update</button><br>
    <button type="submit" class="btn btn-danger" *ngIf="auth.loggedIn()" (click)="navigateToDelete(item._id)">delete</button>

    </div>

</section>
<div class="footer bg-transparent">
    <p>Copyright © 2022 | jishnu | library </p>
  </div>
</div>